*{box-sizing: border-box;margin: 0%;padding: 0%;}
@font-face {
    font-family: gil;
    src: url(/gilroy-free/Gilroy-FREE/Gilroy-ExtraBold.otf);
}
@font-face {
    font-family: roy;
    src: url(/gilroy-free/Gilroy-FREE/Gilroy-Light.otf);
}
body{overflow-x: hidden;position: relative;}
#page1{width: 100vw;height: 100vh;background-size: cover;background-position: center;position: relative;background-image: url(benjamin-voros-phIFdC6lA4E-unsplash.jpg);}

#nav{width: 100vw;height: 8vh;background-color: transparent;font-family: gil;display: flex;color: white;align-items: center;}
#navp1{width:30%;height: 100%;display: flex;align-items: center;justify-content: end;}
#navp1 h4{margin-right: 2.3vw;font-size: 1.4vw;}
#navp2{width: 40%;height: 100%;display: flex;align-items: center;justify-content: center;gap: 1.6vw;font-family: gil;font-size: 0.85vw;letter-spacing: 0.05vw;}
#navp3{width: 30%;height: 100%;display: flex;align-items: center;}
#navp3 i{display: none;}
#navp3 button{width:4.5vw;height: 4.2vh;border: 1.44px solid white;background-color: rgba(230, 230, 230, 0.4);font-size: 0.74vw;font-family: gil;color: whitesmoke;letter-spacing: 0.05vw;}
#page1 h1{font-size: 2.55vw;font-family: gil;margin-left: 33%;margin-top: 8.5vh;color: white;line-height: 43px;}
#page1 p{margin-left: 33%;font-family: gil;font-size: 0.98vw;margin-top: 2vh;color: rgb(239, 239, 239);}
#div button{margin-left: 33%;padding: 0.9vw 1.3vw;border-radius: 0.4vw;border: none;margin-top: 1.77vw;font-family: gil;justify-content: center;align-items: center;display: flex;background-color: rgb(188, 0, 0);color: white;}
#div{width: 75%;height: 40%;background-color: transparent;}
#page2{width: 100vw;height: 100vh;position: relative;background-color: black;overflow: hidden;}


#page2 h2{font-size: 1.88vw;color: white;font-family:gil ;padding-top: 16vh;padding-left: 3vw;}
#images{background-color: rgb(0, 0, 0);width: 95%;height: 50%;margin-top: 6.3vh;white-space: nowrap;overflow-x: auto;overflow-y: hidden;margin-left: 3.2vw;}
#images::-webkit-scrollbar{display: none;}
#mini1{width: 19%;height: 100%;background:url(https://images.unsplash.com/photo-1687992469789-3e2cb55e1cd7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDkyfEZ6bzN6dU9ITjZ3fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60);overflow: hidden;display: inline-block;margin-right: 1.37vw;background-position: center;background-size: cover;font-family: gil; color: white;transform: scale(0.93);}
#mini2{background:url(https://images.unsplash.com/photo-1687684422877-2cc358c18028?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDExOXxGem8zenVPSE42d3x8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60);width: 19%;height: 100%;overflow: hidden;display: inline-block;margin-right: 1.37vw;background-position: center;background-size: cover;font-family: gil; color: white;transform: scale(0.93);}
#mini3{background:url(https://images.unsplash.com/photo-1583207884889-d79abf0d0aa3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bGFzJTIwdmVnYXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);width: 19%;height: 100%;overflow: hidden;display: inline-block;margin-right: 1.37vw;background-position: center;background-size: cover;font-family: gil; color: white;transform: scale(0.93);}
#mini4{background:url(https://images.unsplash.com/photo-1511527661048-7fe73d85e9a4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHNwYWlufGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);width: 19%;height: 100%;overflow: hidden;display: inline-block;margin-right: 1.37vw;background-position: center;background-size: cover;font-family: gil; color: white;transform: scale(0.93);}
#mini5{background:url(https://images.unsplash.com/photo-1491884662610-dfcd28f30cfb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGphcGFufGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);width: 19%;height: 100%;overflow: hidden;display: inline-block;margin-right: 1.37vw;background-position: center;background-size: cover;font-family: gil; color: white;transform: scale(0.93);}
#mini6{background:url(https://images.unsplash.com/photo-1459787915554-b34915863013?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGR1YmFpfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);width: 19%;height: 100%;overflow: hidden;display: inline-block;margin-right: 1.37vw;background-position: center;background-size: cover;font-family: gil; color: white;transform: scale(0.93);}
#mini1 h4{margin-top: 87%;margin-left: 12%;padding-bottom: 1.1vh;color: rgb(255, 255, 255,0.92);}
#mini2 h4{margin-top: 87%;margin-left: 12%;padding-bottom: 1.1vh;color: rgb(255, 255, 255,0.92);}
#mini3 h4{margin-top: 87%;margin-left: 12%;padding-bottom: 1.1vh;color: rgb(255, 255, 255,0.92);}
#mini4 h4{margin-top: 87%;margin-left: 12%;padding-bottom: 1.1vh;color: rgb(255, 255, 255,0.92);}
#mini5 h4{margin-top: 87%;margin-left: 12%;padding-bottom: 1.1vh;color: rgb(255, 255, 255,0.92);}
#mini6 h4{margin-top: 87%;margin-left: 12%;padding-bottom: 1.1vh;color: rgb(255, 255, 255,0.92);}
#mini1 h3{margin-left: 12%;font-size: 1.33vw;}
#mini2 h3{margin-left: 12%;font-size: 1.33vw;}
#mini3 h3{margin-left: 12%;font-size: 1.33vw;}
#mini4 h3{margin-left: 12%;font-size: 1.33vw;}
#mini5 h3{margin-left: 12%;font-size: 1.33vw;}
#mini6 h3{margin-left: 12%;font-size: 1.33vw;}
#mini1:hover{transform: scale(1.03);transition-duration: 0.37s;}
#mini2:hover{transform: scale(1.03);transition-duration: 0.37s;}
#mini3:hover{transform: scale(1.03);transition-duration: 0.37s;}
#mini4:hover{transform: scale(1.03);transition-duration: 0.37s;}
#mini5:hover{transform: scale(1.03);transition-duration: 0.37s;}
#mini6:hover{transform: scale(1.03);transition-duration: 0.37s;}
#page3{width: 100vw;height: 100vh;background-color: black;}
#page3 h2{padding-top: 25vh;color: white;font-size: 1.77vw;font-family: gil;text-align: center;word-spacing: 0.2vw;padding-bottom: 10.4vh;}
#big{width: 60%;height: 22%;background-color: rgb(0, 0, 0);display: flex;justify-content: center;margin-left: 20%;gap: 2.55vw;}
#bada1{width: 22.5%;height: 100%;background-color: rgb(11, 11, 11);font-family: gil;}
#bada2{width: 22.5%;height: 100%;background-color: rgb(11, 11, 11);font-family: gil;}
#bada3{width: 22.5%;height: 100%;background-color: rgb(11, 11, 11);font-family: gil;}
#bada1 h3{font-size: 1.45vw;color:rgb(207, 0, 0) ;}
#bada2 h3{font-size: 1.45vw;color:rgb(207, 0, 0) ;}
#bada3 h3{font-size: 1.45vw;color:rgb(207, 0, 0) ;}
#bada1 p{font-size: 0.77vw;padding-top: 1.77vh;text-align: start;padding-right: 2.3vw;color: rgb(255, 255, 255,0.88);letter-spacing: 0.02vw;}
#bada2 p{font-size: 0.77vw;padding-top: 1.77vh;text-align: start;padding-right: 2.3vw;color: rgb(255, 255, 255,0.88);letter-spacing: 0.02vw;}
#bada3 p{font-size: 0.77vw;padding-top: 1.77vh;text-align: start;padding-right: 2.3vw;color: rgb(255, 255, 255,0.88);letter-spacing: 0.02vw;}
#page4{width: 100vw;height: 100vh;background-color: black;font-family: gil;display: flex;flex-direction: column;align-items: center;justify-content: center;color: white;}
#about{height: 11.5vh;width: 44%;background-color: rgb(0, 0, 0);display: flex;}
#about1{width: 60%;height: 100%;background-color: black;font-size: 1.78vw;}
#about2{width:40%;height: 100%;background-color: black;font-size: 0.88vw;letter-spacing: 0.02vw;}
#video{width: 44%;height: 45%;background-color: rgb(0, 0, 0);}
#video video{object-fit: cover;width: 100%;height: 103%;overflow: hidden;}
#page5{width: 100vw;height: 100vh;background-color: black;font-family: gil;display: flex;flex-direction: column;align-items: center;}
#five{width:50%;height: 18vh;background-color: transparent;display: flex;margin-top:3%;}
#five1{width: 50%;height: 100%;justify-content: start;display: flex;align-items: center;font-size: 1.42vw;line-height: 3.56vh;color: white;}
#five2{width: 50%;height: 100%;justify-content: end;display: flex;align-items: center;}
#five2>button{width: 25%;height: 30%;background-color: rgb(207, 0, 0);border: none;border-radius: 3.5px;font-family: gil;font-size: 0.9vw;color: white;}
#indo{width: 50%;height:59%;background-color: rgb(0, 0, 0);display: flex;justify-content: space-between;}
#indo1{width: 31%;height: 100%;background-color: black;}
#indo2{width: 31%;height: 100%;background-color: black;}
#indo3{width: 31%;height: 100%;background-color: black;}
#indo1 img{width: 100%;height: 80%;object-fit: cover;}
#indo2 img{width: 100%;height: 80%;object-fit: cover;}
#indo3 img{width: 100%;height: 80%;object-fit: cover;}
#indo1 h3{color: white;padding-top: 2.2vh;font-size: 1.2vw;}
#indo2 h3{color: white;padding-top: 2.2vh;font-size: 1.2vw;}
#indo3 h3{color: white;padding-top: 2.2vh;font-size: 1.2vw;}
#indo1 h2{color:  rgb(207, 0, 0);padding-top: 1.13vh;font-size: 1.3vw;}
#indo2 h2{color:  rgb(207, 0, 0);padding-top: 1.13vh;font-size: 1.3vw;}
#indo3 h2{color: rgb(207, 0, 0);padding-top: 1.13vh;font-size: 1.3vw;}
#page6{width: 100vw;height: 100vh;background-color: black;font-family: gil;display: flex;flex-direction: column;align-items: center;justify-content: center;}
#maalik{width: 50%;height: 65%;background-color: rgb(11, 11, 11);}
#beta1{width: 100%;height: 20%;padding-left: 4vw;border-bottom: solid 2px black;font-size: 1.88vw;display: flex;align-items: center;color: white;}
#beta2{width: 100%;height: 20%;border-bottom: solid 2px black;display: flex;align-items: center;display: flex;align-items: center;font-size: 1.10vw;gap: 7vw;padding-left: 8.5%;}

#beta3{width: 100%;height: 20%;border-bottom: solid 2px black;display: flex;align-items: center;display: flex;align-items: center;display: flex;align-items: center;gap: 7vw;padding-left: 8.5%;font-size: 1.10vw;}
#beta4{width: 100%;height: 20%;border-bottom: solid 2px black;display: flex;align-items: center;display: flex;align-items: center;display: flex;gap: 7vw;padding-left: 8.5%;font-size: 1.10vw;}
#beta5{width: 100%;height: 20%;border-bottom: solid 2px black;display: flex;align-items: center;display: flex;align-items: center;display: flex;align-items: center;font-size: 1.10vw;gap: 7vw;padding-left: 8.5%;}
#beta2 h2{font-size: 2vw;}
#beta3 h2{font-size: 2vw;}
#beta4 h2{font-size: 2vw;}
#beta5 h2{font-size: 2vw;}
#more{font-size: 1vw;color:rgb(207, 0, 0);width: 20%;height: 100%;display: flex;align-items: center;justify-content: center;}
#date{width: 15%;height: 100%;display: flex;align-items: center;justify-content: center;color: white;}
#blog{width: 65%;height: 100%;display: flex;align-items: center;justify-content: center;color: white;}
#page7{width: 100vw;height: 50vh;background-color: rgb(11, 11, 11);}
#ekam{width: 100%;height: 55%;background-color: white;display: flex;}
#duam{width: 100%;height: 10%;background-color:rgb(11, 11, 11);margin-top: 6%;text-align: center;display: flex;align-items: center;justify-content: center;font-family: gil;color: white;gap: 0.22vw;font-size: 0.85vw;}
#ekam1{width: 20%;height: 100%;background-color: rgb(11, 11, 11);font-family: gil;color: white;padding-top: 5.5vh;text-align: center;}
#ekam2{width: 20%;height: 100%;background-color: rgb(11, 11, 11);font-family: gil;color: white;padding-top: 5.5vh;text-align: center}
#ekam3{width: 20%;height: 100%;background-color:rgb(11, 11, 11);font-family: gil;color: white;padding-top: 5.5vh;text-align: center}
#ekam4{width: 20%;height: 100%;background-color: rgb(11, 11, 11);font-family: gil;color: white;padding-top: 5.5vh;text-align: center}
#ekam5{width: 20%;height: 100%;background-color: rgb(11, 11, 11);font-family: gil;color: white;padding-top: 5.5vh;text-align: center}
#ekam1 p{font-size: 0.79vw;letter-spacing: 0.3;padding-top: 2.1vh;}
#ekam1 i{padding-top: 2.1vh;margin-right: 0.33vw;}
#ekam2 p{font-size: 0.79vw;letter-spacing: 0.3;padding-top: 2.1vh;}
#ekam3 p{font-size: 0.79vw;letter-spacing: 0.3;padding-top: 2.1vh;}
#ekam4 p{font-size: 0.79vw;letter-spacing: 0.3;padding-top: 2.1vh;}
#ekam5 p{font-size: 0.79vw;letter-spacing: 0.3;padding-top: 2.1vh;}
#ekam h2{padding-bottom:1.68vh;}





@media (max-width:600px) {
    #page1{width: 100vw;height: 100vh;background-size: cover;background-position: center;position: relative;background-image: url(benjamin-voros-phIFdC6lA4E-unsplash.jpg);}

    #nav{width: 100vw;height: 8vh;background-color: transparent;font-family: gil;display: flex;color: white;align-items: center;}
    #navp1{width:30%;height: 100%;display: flex;align-items: center;justify-content: center;}
    #navp1 h4{margin-right: 2.3vw;font-size: 1.77vh;}
    #navp2{width: 20%;height: 100%;display: flex;align-items: center;justify-content: center;gap: 1.6vw;font-family: gil;font-size: 0.85vw;letter-spacing: 0.05vw;display: none;}
    #navp3{width: 25%;height: 100%;display: flex;align-items: center;position: relative;left: 45%;}
    #navp3 i{display:inline-block;font-size: 1.55vh;position: relative;right: 38%;}
    #navp3 button{width:12.5vw;height: 3.5vh;border: 1.44px solid white;background-color: rgba(230, 230, 230, 0.4);font-size: 1.1vh;font-family: gil;color: whitesmoke;letter-spacing: 0.05vw;position: relative;right: 28%;}
    #page1 h1{font-size: 10vw;font-family: gil;margin-left: 33%;margin-top: 19vw;color: white;line-height: 11.5vw;}
    #page1 p{margin-left: 33%;font-family: gil;font-size: 3vw;margin-top: 11vw;color: rgb(239, 239, 239);}
    #div button{margin-left: 33%;padding: 4vw 7vw;border-radius: 0.4vw;border: none;margin-top: 10vw;font-family: gil;justify-content: center;align-items: center;display: flex;background-color: rgb(188, 0, 0);color: white;}
    #div{width: 75%;height: 40%;background-color: transparent;}
    #page2{width: 100vw;height: 100vh;position: relative;background-color: black;overflow: hidden;}
    
    
    #page2 h2{font-size: 5.5vw;color: white;font-family:gil ;padding-top: 16vh;padding-left: 3vw;}
    #images{background-color: rgb(0, 0, 0);width: 95%;height: 50%;margin-top: 6.3vh;white-space: nowrap;overflow-x: auto;overflow-y: hidden;margin-left: 3.2vw;}
    #images::-webkit-scrollbar{display: none;}
    #mini1{width: 50%;height: 100%;background:url(https://images.unsplash.com/photo-1687992469789-3e2cb55e1cd7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDkyfEZ6bzN6dU9ITjZ3fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60);overflow: hidden;display: inline-block;margin-right: 1.37vw;background-position: center;background-size: cover;font-family: gil; color: white;transform: scale(0.93);}
    #mini2{background:url(https://images.unsplash.com/photo-1687684422877-2cc358c18028?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDExOXxGem8zenVPSE42d3x8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60);width: 50%;height: 100%;overflow: hidden;display: inline-block;margin-right: 1.37vw;background-position: center;background-size: cover;font-family: gil; color: white;transform: scale(0.93);}
    #mini3{background:url(https://images.unsplash.com/photo-1583207884889-d79abf0d0aa3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8bGFzJTIwdmVnYXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);width: 50%;height: 100%;overflow: hidden;display: inline-block;margin-right: 1.37vw;background-position: center;background-size: cover;font-family: gil; color: white;transform: scale(0.93);}
    #mini4{background:url(https://images.unsplash.com/photo-1511527661048-7fe73d85e9a4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHNwYWlufGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);width: 50%;height: 100%;overflow: hidden;display: inline-block;margin-right: 1.37vw;background-position: center;background-size: cover;font-family: gil; color: white;transform: scale(0.93);}
    #mini5{background:url(https://images.unsplash.com/photo-1491884662610-dfcd28f30cfb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGphcGFufGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);width: 50%;height: 100%;overflow: hidden;display: inline-block;margin-right: 1.37vw;background-position: center;background-size: cover;font-family: gil; color: white;transform: scale(0.93);}
    #mini6{background:url(https://images.unsplash.com/photo-1459787915554-b34915863013?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGR1YmFpfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);width: 50%;height: 100%;overflow: hidden;display: inline-block;margin-right: 1.37vw;background-position: center;background-size: cover;font-family: gil; color: white;transform: scale(0.93);}
    #mini1 h4{margin-top: 97%;margin-left: 9.5%;padding-bottom: 1.1vh;color: rgb(255, 255, 255,0.92);}
    #mini2 h4{margin-top: 97%;margin-left: 9.5%;padding-bottom: 1.1vh;color: rgb(255, 255, 255,0.92);}
    #mini3 h4{margin-top: 97%;margin-left: 9.5%;padding-bottom: 1.1vh;color: rgb(255, 255, 255,0.92);}
    #mini4 h4{margin-top: 97%;margin-left: 9.5%;padding-bottom: 1.1vh;color: rgb(255, 255, 255,0.92);}
    #mini5 h4{margin-top: 97%;margin-left: 9.5%;padding-bottom: 1.1vh;color: rgb(255, 255, 255,0.92);}
    #mini6 h4{margin-top: 97%;margin-left: 9.5%;padding-bottom: 1.1vh;color: rgb(255, 255, 255,0.92);}
    #mini1 h3{margin-left: 9.5%;font-size: 1.83vw;}
    #mini2 h3{margin-left: 9.5%;font-size: 1.83vw;}
    #mini3 h3{margin-left: 9.5%;font-size: 1.83vw;}
    #mini4 h3{margin-left: 9.5%;font-size: 1.83vw;}
    #mini5 h3{margin-left: 9.5%;font-size: 1.83vw;}
    #mini6 h3{margin-left: 9.5%;font-size: 1.83vw;}
    #mini1:hover{transform: scale(1.03);transition-duration: 0.37s;}
    #mini2:hover{transform: scale(1.03);transition-duration: 0.37s;}
    #mini3:hover{transform: scale(1.03);transition-duration: 0.37s;}
    #mini4:hover{transform: scale(1.03);transition-duration: 0.37s;}
    #mini5:hover{transform: scale(1.03);transition-duration: 0.37s;}
    #mini6:hover{transform: scale(1.03);transition-duration: 0.37s;}
    #page3{width: 100vw;height: 50vh;background-color: black;}
    #page3 h2{padding-top: 10vw;color: white;font-size: 5.5vw;font-family: gil;text-align: center;word-spacing: 0.2vw;padding-bottom: 10.4vw;}
    #big{width: 70%;height: 22%;background-color: rgb(0, 0, 0);display: flex;justify-content: center;margin-left: 15.8%;gap: 2.55vh;}
    #bada1{width: 33.5%;height: 50%;background-color: rgb(11, 11, 11);font-family: gil;}
    #bada2{width: 33.5%;height: 50%;background-color: rgb(11, 11, 11);font-family: gil;}
    #bada3{width: 33.5%;height: 50%;background-color: rgb(11, 11, 11);font-family: gil;}
    #bada1 h3{font-size: 2.977vw;color:rgb(207, 0, 0) ;}
    #bada2 h3{font-size: 2.977vw;color:rgb(207, 0, 0) ;}
    #bada3 h3{font-size: 2.977vw;color:rgb(207, 0, 0) ;}
    #bada1 p{font-size: 1.55vw;padding-top: 1.77vh;text-align: start;padding-right: 2.3vw;color: rgb(255, 255, 255,0.88);letter-spacing: 0.02vw;}
    #bada2 p{font-size: 1.55vw;padding-top: 1.77vh;text-align: start;padding-right: 2.3vw;color: rgb(255, 255, 255,0.88);letter-spacing: 0.02vw;}
    #bada3 p{font-size: 1.55vw;padding-top: 1.77vh;text-align: start;padding-right: 2.3vw;color: rgb(255, 255, 255,0.88);letter-spacing: 0.02vw;}
    #page4{width: 100vw;height: 65vh;background-color: black;font-family: gil;display: flex;flex-direction: column;align-items: center;justify-content: center;color: white;}
    #about{height: 11.5vw;width: 68%;background-color: rgb(0, 0, 0);display: flex;}
    #about1{width: 60%;height: 100%;background-color: black;font-size: 3.58vw;}
    #about2{width:40%;height: 100%;background-color: black;font-size: 1.84vw;letter-spacing: 0.02vw;}
    #video{width: 68%;height: 45%;background-color: rgb(0, 0, 0);}
    #video video{object-fit: cover;width: 100%;height: 103%;overflow: hidden;}
    #page5{width: 100vw;height: 80vh;background-color: black;font-family: gil;display: flex;flex-direction: column;align-items: center;}
    #five{width:90%;height: 18vh;background-color: transparent;display: flex;margin-top:3%;}
    #five1{width: 90%;height: 100%;justify-content: start;display: flex;align-items: center;font-size: 4.42vw;line-height: 2.8vh;color: white;}
    #five2{width: 50%;height: 100%;justify-content: end;display: flex;align-items: center;}
    #five2>button{width: 45%;height: 20%;background-color: rgb(207, 0, 0);border: none;border-radius: 3.5px;font-family: gil;font-size: 2.23vw;color: white;}
    #indo{width: 90%;height:59%;background-color: rgb(0, 0, 0);display: flex;justify-content: space-between;}
    #indo1{width: 31%;height: 100%;background-color: black;}
    #indo2{width: 31%;height: 100%;background-color: black;}
    #indo3{width: 31%;height: 100%;background-color: black;}
    #indo1 img{width: 100%;height: 50%;object-fit: cover;}
    #indo2 img{width: 100%;height: 50%;object-fit: cover;}
    #indo3 img{width: 100%;height: 50%;object-fit: cover;}
    #indo1 h3{color: white;padding-top: 2.2vw;font-size: 2.2vw;}
    #indo2 h3{color: white;padding-top: 2.2vw;font-size: 2.2vw;}
    #indo3 h3{color: white;padding-top: 2.2vw;font-size: 2.2vw;}
    #indo1 h2{color:  rgb(207, 0, 0);padding-top: 2.2vw;font-size: 2.3vw;}
    #indo2 h2{color:  rgb(207, 0, 0);padding-top: 2.2vw;font-size: 2.3vw;}
    #indo3 h2{color: rgb(207, 0, 0);padding-top: 2.2vw;font-size:2.3vw;}
    #page6{width: 100vw;height: 70vh;background-color: black;font-family: gil;display: flex;flex-direction: column;align-items: center;justify-content: center;}
    #maalik{width: 70%;height: 85%;background-color: rgb(11, 11, 11);}
    #beta1{width: 100%;height: 20%;padding-left: 4vw;border-bottom: solid 2px black;font-size: 4.88vw;display: flex;align-items: center;color: white;}
    #beta2{width: 100%;height: 20%;border-bottom: solid 2px black;display: flex;align-items: center;display: flex;align-items: center;font-size: 2.10vw;gap: 7vw;padding-left: 8.5%;}
    
    #beta3{width: 100%;height: 20%;border-bottom: solid 2px black;display: flex;align-items: center;display: flex;align-items: center;display: flex;align-items: center;gap: 7vw;padding-left: 8.5%;font-size: 2.10vw;}
    #beta4{width: 100%;height: 20%;border-bottom: solid 2px black;display: flex;align-items: center;display: flex;align-items: center;display: flex;gap: 7vw;padding-left: 8.5%;font-size: 2.10vw;}
    #beta5{width: 100%;height: 20%;border-bottom: solid 2px black;display: flex;align-items: center;display: flex;align-items: center;display: flex;align-items: center;font-size: 2.10vw;gap: 7vw;padding-left: 8.5%;}
    #beta2 h2{font-size: 2.7vw;margin-right: 5px;}
    #beta3 h2{font-size: 2.7vw;margin-right: 5px;}
    #beta4 h2{font-size: 2.7vw;margin-right: 5px;}
    #beta5 h2{font-size: 2.7vw;margin-right: 5px;}
    #more{font-size: 1.8vw;color:rgb(207, 0, 0);width: 20%;height: 100%;display: flex;align-items: center;justify-content: center;}
    #date{width: 15%;height: 100%;display: flex;align-items: center;justify-content: center;color: white;}
    #blog{width: 65%;height: 100%;display: flex;align-items: center;justify-content: center;color: white;}
    #page7{width: 100vw;height: 50vh;background-color: rgb(11, 11, 11);}
    #ekam{width: 100%;height: 55%;background-color: white;display: flex;}
    #duam{width: 100%;height: 10%;background-color:rgb(11, 11, 11);margin-top: 6%;text-align: center;display: flex;align-items: center;justify-content: center;font-family: gil;color: white;gap: 0.42vw;font-size: 2.35vw;}
    #ekam1{width: 20%;height: 100%;background-color: rgb(11, 11, 11);font-family: gil;color: white;
        padding-top: 5.5vh;text-align: center;}
    #ekam2{width: 20%;height: 100%;background-color: rgb(11, 11, 11);font-family: gil;color: white;
        padding-top: 5.5vh;text-align: center}
    #ekam3{width: 20%;height: 100%;background-color:rgb(11, 11, 11);font-family: gil;color: white;
        padding-top: 5.5vh;text-align: center}
    #ekam4{width: 20%;height: 100%;background-color: rgb(11, 11, 11);font-family: gil;color: white;
        padding-top: 5.5vh;text-align: center}
    #ekam5{width: 20%;height: 100%;background-color: rgb(11, 11, 11);font-family: gil;color: white;
        padding-top: 5.5vh;text-align: center}
    #ekam1 p{font-size: 1.49vw;letter-spacing: 0.3;padding-top: 2.1vh;}
    #ekam1 i{padding-top: 1.4vh;margin-right: 0.33vw;font-size: 1.8vw;}
    #ekam2 p{font-size: 1.69vw;letter-spacing: 0.3;padding-top: 1.4vh;}
    #ekam3 p{font-size: 1.69vw;letter-spacing: 0.3;padding-top: 1.4vh;}
    #ekam4 p{font-size: 1.69vw;letter-spacing: 0.3;padding-top: 1.4vh;}
    #ekam5 p{font-size: 1.69vw;letter-spacing: 0.3;padding-top: 1.4vh;}
    #ekam h2{padding-bottom:1.38vh;font-size: 4vw;}
        
}

